#profilecards{
    margin: 0 auto;
    margin-top:50px;
    display: flex;
    width:10rem;
    justify-content: space-between;
}

.profilecard{
    border: 1px solid grey;
    background-color: rgb(36, 41, 46);
    width:2.5rem;
    padding:0.32rem;
}

.profilecard .num{
    text-align: center;
    font-size: 0.6rem;
}

.profilecard .value{
    margin-top: 0.32rem;
    text-align: center;
    font-size: 0.3rem;
}